html, body {
  margin: 0;
}

/* Đặt biến trong css */
:root{ /* Đây gọi là lớp giả */
  --text-colorabc: red;
  --grey-color: rgb(189, 187, 187);
}
html {
  font-size: 20px;
}
h1 {
  color: var(--text-colorabc);
  font-size: 1rem; /* rem tham chiếu tới thẻ html */
}
.vw-vh {
  height: 50vh;
  width: 50vw;
  background-color: var(--grey-color);
}

.box {
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: darkorchid;
}


.header {
  width: 100%;
  height: 100vh;
  /* background-image:url(https://bongban.org/attachments/1642650756131-png.137688/);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center; */
  background: url(https://bongban.org/attachments/1642650756131-png.137688/) no-repeat center / contain ;
}