:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  /* Kế thừa từ thẻ chứa nó */
  box-sizing: inherit;
}

html {
  /* HACK 1rem = 10px */
  font-size: 62.5%;
  /* Dùng page ruler để check linehigh của website bất kỳ */
  line-height: 1.6rem;
  /* Font mặc định cho website */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  /* Căn giữa block này khi nằm trong block cha */
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  position: relative;
  width: 400px;
  height: 400px;
  background: var(--white-color);
  margin: auto;
  border-radius: 3px;
}
