:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333
}

* {
  /* Kế thừa từ thẻ chứa nó */
  box-sizing: inherit;
}

html {
  /* HACK 1rem = 10px */
  font-size: 62.5%;
  /* Dùng page ruler để check linehigh của website bất kỳ */
  line-height: 1.6rem;
  /* Font mặc định cho website */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  /* Căn giữa block này khi nằm trong block cha */
  margin: 0 auto;

}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
