.header {
  height: 120px;
  background-image: linear-gradient(0,#fe6433,#EE3E2C);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;

}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
/* Nếu .header__navbar-item--has-qr được hover thì thuộc tính css sẽ dc apply cho .header__qr */
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item, .header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item:hover, .header__navbar-item-link:hover {
  color: rgba(255,255,255, 0.7);
  cursor: pointer;
}

.header__navbar-item-link--bold {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #FB9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-item-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item, .header__navbar-item-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.35s;
}

/* Tạo 1 cái cầu để liên kết 2 block header__qr và header__navbar-item--has-qr */
.header__qr::before {
  position: absolute;
  content: "";
  width: 100%;
  display: block;
  height: 20px;
  left: 0;
  top: -16px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}

.header__qr-download-img {
  height: 16px;
}

